/* https://starlight.astro.build/guides/css-and-tailwind/#add-tailwind-to-an-existing-project */
@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --color-accent-200: #82dccc;
  --color-accent-600: #007d6f;
  --color-accent-900: #003c34;
  --color-accent-950: #002b25;

  --color-gray-100: #f2f6ff;
  --color-gray-200: #e6eeff;
  --color-gray-300: #b8c2d7;
  --color-gray-400: #798bb2;
  --color-gray-500: #47577b;
  --color-gray-700: #283758;
  --color-gray-800: #182545;
  --color-gray-900: #111826;
}

/*Dark Theme*/

/* Tabbed interface */

.tabs [role='tab'][aria-selected='false'] {
  overflow-x: scroll;
}

[data-theme='dark'] .tab [role='tab'][aria-selected='false'] {
  transition: background-color 0.3s ease;
  font-size: 17px;
  color: rgb(0, 255, 255);
}

[data-theme='dark'] .tab:hover [role='tab'][aria-selected='false'] {
  background-color: rgba(0, 248, 236, 0.494);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

[data-theme='dark'] .tab [role='tab'][aria-selected='true'] {
  border: 2px solid rgb(130, 220, 204);
  background-color: rgba(45, 140, 143, 0.514);
}

/* Right sidebar */

/* Affects all text from non nested lists */

[data-theme='dark'] starlight-toc > nav > ul > li > a > span {
  color: rgb(0, 255, 255);
  font-weight: 500;
}

/*Text color when hovering outside the text*/
[data-theme='dark'] starlight-toc > nav > ul > li > a:hover > span {
  color: rgb(255, 255, 0);
  font-weight: 500;
}

/* This one affects the entire item except around the text*/
[data-theme='dark'] starlight-toc > nav > ul > li > a:hover {
  background-color: rgba(130, 220, 204, 0.17);
}

/*Nested ul's*/

/*Color Hovering outside the text when in an nested item*/
/*Sibling item*/
[data-theme='dark'] starlight-toc > nav > ul > li > ul > li:hover > a {
  background-color: rgba(130, 220, 204, 0.17);
}

[data-theme='dark'] starlight-toc > nav > ul > li > ul > li > a > span {
  color: rgba(255, 255, 255, 0.527);
  font-weight: 500;
}

[data-theme='dark'] starlight-toc > nav > ul > li > ul > li > a:hover > span {
  color: rgb(0, 255, 255);
  font-weight: 500;
}

/*Current active nested item*/
[data-theme='dark'] starlight-toc > nav > ul > li > ul > li > a[aria-current='true'] {
  color: black;
  background-color: rgb(130, 220, 204);
}

[data-theme='dark'] starlight-toc > nav > ul > li > ul > li > a[aria-current='true'] > span {
  color: black;
  background-color: rgb(130, 220, 204);
}

/* Current active sidebar item */

[data-theme='dark'] starlight-toc > nav > ul > li > a[aria-current='true'] {
  color: black;
  background-color: rgb(130, 220, 204);
}

[data-theme='dark'] starlight-toc > nav > ul > li > a[aria-current='true'] > span {
  background-color: rgb(130, 220, 204);
  color: rgb(0, 0, 0);
}

/* Left sidebar  */

/* Arrows */
[data-theme='dark'] sl-sidebar-state-persist > ul > li > details {
  color: rgb(0, 255, 255);
}

/* Current active page */
[data-theme='dark']
  sl-sidebar-state-persist
  > ul
  > li
  > details
  > ul
  > li
  > a[aria-current='page'] {
  background-color: rgb(130, 220, 204);
}

[data-theme='dark']
  sl-sidebar-state-persist
  > ul
  > li
  > details
  > ul
  > li
  > a:hover[aria-current='page'] {
  color: rgb(0, 0, 0);
  background-color: rgb(130, 220, 204);
}

/* Color when hovering over text */

[data-theme='dark'] sl-sidebar-state-persist > ul > li > details > ul > li > a > span:hover {
  color: rgb(255, 255, 255);
}

/*Color around text when hovering*/
[data-theme='dark']
  sl-sidebar-state-persist
  > ul
  > li
  > details
  > ul
  > li
  > a[aria-current='page']
  > span:hover {
  color: rgb(0, 0, 0);
}

/* Color when hovering outside the text */

[data-theme='dark'] sl-sidebar-state-persist > ul > li > details > ul > li > a:hover {
  color: rgb(255, 255, 255);
  font-weight: 600;
  background-color: rgba(0, 123, 127, 0.774);
}

/* Affects all text of the sidebar */

[data-theme='dark'] sl-sidebar-state-persist > ul > li > details > ul > li > a {
  font-weight: 500;
}

/*Light theme*/

/* Left sidebar  */

/* Arrows */
[data-theme='light'] sl-sidebar-state-persist > ul > li > details {
  color: rgb(0, 125, 111);
}

/* Current active page */
[data-theme='light']
  sl-sidebar-state-persist
  > ul
  > li
  > details
  > ul
  > li
  > a[aria-current='page'] {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 125, 111);
}

[data-theme='light']
  sl-sidebar-state-persist
  > ul
  > li
  > details
  > ul
  > li
  > a:hover[aria-current='page'] {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 125, 111);
}

/* Color when hovering over text */

[data-theme='light'] sl-sidebar-state-persist > ul > li > details > ul > li > a > span:hover {
  color: rgb(0, 0, 0);
}

/*Color around text when hovering*/
[data-theme='light']
  sl-sidebar-state-persist
  > ul
  > li
  > details
  > ul
  > li
  > a[aria-current='page']
  > span:hover {
  color: rgb(255, 255, 255);
}

/* Color when hovering outside the text */

[data-theme='light'] sl-sidebar-state-persist > ul > li > details > ul > li > a:hover {
  color: rgb(0, 0, 0);
  font-weight: 600;
  background-color: rgba(4, 156, 161, 0.63);
}

/* Affects all text of the sidebar */

[data-theme='light'] sl-sidebar-state-persist > ul > li > details > ul > li > a {
  font-weight: 500;
}

/* Right sidebar */

/* Affects all text from non nested lists */

[data-theme='light'] starlight-toc > nav > ul > li > a > span {
  color: rgb(0, 0, 0);
  font-weight: 500;
}
/*Text color when hovering outside the text*/
[data-theme='light'] starlight-toc > nav > ul > li > a:hover > span {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/* This one affects the entire item except around the text*/
[data-theme='light'] starlight-toc > nav > ul > li > a:hover {
  background-color: #60c0c3;
}

/*Nested ul's*/

/*Color Hovering outside the text when in an nested item*/
/*Sibling item*/
[data-theme='light'] starlight-toc > nav > ul > li > ul > li:hover > a {
  background-color: #60c0c3;
}

[data-theme='light'] starlight-toc > nav > ul > li > ul > li > a > span {
  color: rgba(0, 0, 0, 0.637);
  font-weight: 500;
}

[data-theme='light'] starlight-toc > nav > ul > li > ul > li > a:hover > span {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/*Current active nested item*/
[data-theme='light'] starlight-toc > nav > ul > li > ul > li > a[aria-current='true'] {
  color: black;
  background-color: rgb(0, 125, 111);
}

[data-theme='light'] starlight-toc > nav > ul > li > ul > li > a[aria-current='true'] > span {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 125, 111);
}

/* Current active sidebar item */

[data-theme='light'] starlight-toc > nav > ul > li > a[aria-current='true'] {
  color: black;
  background-color: rgb(0, 125, 111);
}

[data-theme='light'] starlight-toc > nav > ul > li > a[aria-current='true'] > span {
  background-color: rgb(0, 125, 111);
  color: rgb(255, 255, 255);
}

/* Tabbed interface */

[data-theme='light'] .tab [role='tab'][aria-selected='false'] {
  transition: background-color 0.3s ease;
  font-size: 17px;
  color: rgb(0, 0, 0);
}

[data-theme='light'] .tab:hover [role='tab'][aria-selected='false'] {
  background-color: #60c0c3;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

[data-theme='light'] .tab [role='tab'][aria-selected='true'] {
  color: white;
  border-right: 0px;
  background-color: #007d6f;
}
